<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        p{
          font-size: 27px;
        }
        h2{
          font-size: 40px;
          text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <a href="/" style="text-decoration: none;"><h1>EZPartPicker</h1><a>
          <nav>
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="/contact">Contact</a>
              <div class="dropdown"><a>Build</a>
                <div class="dropdown-content">
                  <a href="/your-build">Your Builds</a>
                  <a href="/AI-build">A.I Generated Rig</a>
                  <a href="/Component">Components</a>
                  <a href="/guide">Guide</a>
              </div>
            </div>
          </nav>
      </header>
      <section>
        <h2>About EZPartPicker</h2>
        <p>
          EZPartPicker is a web application that allows users to easily find and purchase parts for their projects. Users can search for parts by name, category, or manufacturer, and find the best prices and options. They can also create and save their own custom builds, which can be shared with others or saved for future reference.
          Users can also create and save their own custom using our AI which gives you the most optiomal option to build for the budget that you have specified
        </p>
        <p>
          EZPartPicker is an open-source project, and you can contribute to its development by finding bugs, improving documentation, or adding new features. If you have any questions or need assistance, please don't hesitate to reach out to us.
          Stay tuned for updates and new features as we continue to develop EZPartPicker.
          Thank you for your support!
        </p>
        <br>
        <h2>Technology Used</h2>
       <p> 1.Node JS<br>
        2.ExpressJS<br>
        3.MongoDB<br>
        4.Google Gemini<br></p>
        <h2>Team</h2>
        <p>
        1.Rohith Raj<br>
        2.Sarvesh Padhye<br>
        3.Farhaan Sayyad Gulmustafa<br>
        4.Manoj Akkishetty<br></p>
        
      </section>
</body>
</html>